[submodule "libs/ClosedCube_OPT3001_Arduino"]
	path = libs/ClosedCube_OPT3001_Arduino
	url = https://github.com/sfera-labs/ClosedCube_OPT3001_Arduino
	branch = master
[submodule "libs/arduino-core"]
	path = libs/arduino-core
	url = https://github.com/sfera-labs/arduino-core
	branch = main
[submodule "libs/arduino-i2c-sht4x"]
	path = libs/arduino-i2c-sht4x
	url = https://github.com/sfera-labs/arduino-i2c-sht4x
	branch = master
[submodule "libs/arduino-i2c-sgp40"]
	path = libs/arduino-i2c-sgp40
	url = https://github.com/sfera-labs/arduino-i2c-sgp40
	branch = master
[submodule "libs/arduino-gas-index-algorithm"]
	path = libs/arduino-gas-index-algorithm
	url = https://github.com/sfera-labs/arduino-gas-index-algorithm
	branch = master
[submodule "libs/arduino-M2M_LM75A"]
	path = libs/arduino-M2M_LM75A
	url = https://github.com/sfera-labs/arduino-M2M_LM75A
	branch = master
[submodule "libs/arduino-RTCx"]
	path = libs/arduino-RTCx
	url = https://github.com/sfera-labs/arduino-RTCx
	branch = master
