[submodule "libs/ClosedCube_OPT3001_Arduino"]
	path = libs/ClosedCube_OPT3001_Arduino
	url = https://github.com/sfera-labs/ClosedCube_OPT3001_Arduino
	branch = master
[submodule "libs/arduino-sht"]
	path = libs/arduino-sht
	url = https://github.com/sfera-labs/arduino-sht
	branch = master
